name: "Run tests"

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: 'pip'  

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
        python -m pip list  # debug, mostra i pacchetti installati

    - name: Run tests with pytest
      run: |
        PYTHONPATH=$PWD/src python -m pytest -v --ignore=old_test
